
  <div class="container">
   <%= form_tag("/tops", method: :post) do %>
    <div class="divider"></div>
      <div class="section">
        <h5><lavel>name</lavel></h5>
        <p><input type="text" name="name" placeholder="name"></input></p>
      </div>
      
      
      <div class="section">
        <h5><lavel>picture</lavel></h5>
        <p><input type="text" name="image" placeholder="Image"></input></p>
      </div>
      
      <div class="section">
        <h5><lavel>review</lavel></h5>
        <p>
          <p class="range-field">
            <input type="range" name="rate" id="test5" min="0" max="100"/></input>
          </p>
        </p>
      </div>
      
    <!--<div>-->
    <!--  <lavel>評価</lavel>-->
    <!--  <input id="product_price" max="5.0" min="1.0" name="product[price]" step="1" type="number" />-->
    <!--</div>-->
      
      <div class="section">
        <h5><lavel>text</lavel></h5>
        <p><textarea type="text" placeholder="text" name="text"></textarea></p>
      </div>
      
      <!--<input type="submit"></input>-->
      
      
      <div class="section">
        <p class="center-align">
          <button class="btn waves-effect waves-light" type="submit" name="action">登録</button></input>
        </p>
      </div>
    
    <% end %>
  </div>
